<div class="container">
    <div class="row">

        <% @artworks.each do |artwork| %>
            <%= image_tag(artwork.picture) if artwork.picture.attached? %>
        <% end %>
        
    </div>
</div>
